<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dmioto.comic_most_expensive">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_comic_most_expensive">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".ComicMostExpensiveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/TransparentStatusBar"
            tools:ignore="LockedOrientationActivity"/>
    </application>

</manifest>